.contact-page-container {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20vh;
}
.form-label {
  font-weight: bold;
  color: #fff;
  padding-right: 5px;
}
.form-row {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-row-aligner {
  justify-content: center;
  align-items: center;
}
