.skillsText{
    color: white;
    font-weight: bold;
}
.skillHeader{
    margin-top: 30px;
    color: #FEFF01;
    font-weight:bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}