.title{
     color: #FEFF01;
      font-weight: bold;
      font-size: 30px;

}
.description{
    color: white;
    text-align: center;
}
.linkStyle{
    color: #FEFF01;
    font-weight: bold;
    font-size: 30;
}
.iconStyle{
    text-align: center;
    color: #FEFF01;
    font-size: 25;
    margin-top: 25;
}