.title{
     color: #FEFF01;
      font-weight: bold;
      font-size: 30px;

}
.description{
    color: white;
    text-align: center;
    margin:0 auto;
}
.linkStyle{
    color: #FEFF01;
    font-weight: bold;
    margin-top: 60px;
}